parcours/parcours.dtd

<!ELEMENT world (description?, parcours)>
	<!ELEMENT description (#PCDATA)>

	<!ELEMENT optics (appearance*)>
		<!ELEMENT appearance (description, texture*, color*, clone*)>
			<!ATTLIST appearance type CDATA #REQUIRED>
			<!ELEMENT texture (#PCDATA)>
			<!ELEMENT color (#PCDATA)>
				<!ATTLIST color type (ambient| diffuse | specular| emmissive) "ambient">
			<!ELEMENT clone (#PCDATA)>
	<!ELEMENT parcours (line+,optics)>
		<!ELEMENT line (#PCDATA)>

